[Unit]
Description=Wineroom Temperatures

[Service]
Type=simple
User=ege
ExecStart=/home/ege/ColdRoomTempsWeb/run
Restart=always

[Install]
WantedBy=network-online.target
