<!DOCTYPE html>
<html lang="en">

<head>
  <title>Wine Storage Temperature Monitor</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/css/bootstrap.min.css">
</head>

<body>
  <div class="px-5">
    <div class="page-header bg-success text-white text-center p-2 mb-3">
      <h3>Wine Storage Temperature</h3>
    </div>
  </div>
  <div class="container">
    <form action="/latest" method="get">
      <div class="row fs-6 small">
        <div class="col-sm text-end">
          <label>Show: &nbsp;
            <select name="range" id="rangeselect">
              <option value="hour">last hour</option>
              <option value="2hours">last 2 hours</option>
              <option value="6hours">last 6 hours</option>
              <option value="12hours">last 12 hours</option>
              <option value="day">last 24 hours</option>
              <option value="2day">last 48 hours</option>
              <option value="week">last 7 days</option>
              <option value="month">last 30 days</option>
              <option value="6months">last 6 months</option>
              <option value="year">last year</option>
              <option value="all">all</option>
            </select>
          </label>
        </div>
        <div class="col-sm text-center">
          Select degrees:&nbsp;
          <label> <input type="radio" value="fahrenheit" name="degree" id="fahrenheit" /> Fahrenheit</label>
          <label> <input type="radio" value="celsius" name="degree" id="celsius" /> Celsius</label>
        </div>
        <div class="col-sm text-end">
          <span id="lastupdate">
            <img src="loading.gif" height="30px"/>
          </span>
        </div>
        <div class="col-sm">
          <input type="submit" value="Update">
        </div>
    </form>
  </div>
  <canvas id="myChart"></canvas>
  <div class="fixed-bottom px-5">
    <div class="page-footer bg-success text-center p-1 text-white">
      <h4>&copy; 2026 Lazy Acres Vineyard</h4>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

  <script>
    const ctx = document.getElementById('myChart');
    var data = <%- JSON.stringify(data) %> ;
    var degree = '<%- degree %>';
    var range = '<%- range %>';
    document.getElementById('rangeselect').value = range;
    document.getElementById(degree).checked = true;
    // compute temperature high, low, average
    let high = Math.max(...data.map(row => row.y));
    let low = Math.min(...data.map(row => row.y));
    var sum = data.reduce((acc, row) => acc + row.y, 0);
    var avg = sum / data.length;
    var avgDisplay = degree === 'celsius' ? avg : (avg * 9 / 5) + 32;
    var lastTemp = degree === 'celsius' ? data[data.length - 1].y : (data[data.length - 1].y * 9 / 5) + 32;
    var dateDisplay = new Date(data[data.length - 1].x).toString();
    var shortDate = dateDisplay.substring(0, 4) + " at " + dateDisplay.substring(16,21);
    var avgLable = lastTemp.toFixed(1) + '\xB0(avg: ' + avgDisplay.toFixed(1) + '\xB0) ' + shortDate;
    document.getElementById('lastupdate').innerText = avgLable;
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: data.map((row) => { var d = new Date(row.x); return d; }),
        datasets: [{
          label: 'actual',
          data: data.map((row) => degree === 'celsius' ? row.y : (row.y * 9 / 5) + 32),
          borderWidth: 2,
          borderColor: '#0f0',
          backgroundColor: '#0f0'
        }, {
          label: 'ideal high',
          data: data.map(() => degree === 'celsius' ? 20 : 68),
          borderWidth: 1,
          borderColor: '#f00',
          backgroundColor: '#f00',
          borderDash: [5, 5]
        }, {
          label: 'ideal low',
          data: data.map(() => degree === 'celsius' ? 16 : 61),
          borderWidth: 1,
          borderColor: '#00f',
          backgroundColor: '#00f',
          borderDash: [5, 5]
        }]
      },
      options: {
        scales: {
          x: {
            grid: { display: false },
            type: 'time',
            time: range.includes('hour') || range.includes('day') ? { unit: 'minute', displayFormats: { minute: 'HH:mm' } } : {unit: 'hour', displayFormats: { hour: 'MMM dd' }},
            ticks: { stepSize: 30 }
          },
          y: {
            min: (degree == 'celsius' ? low - 6 : (low * 9 / 5) + 22),
            max: (degree == 'celsius' ? high + 6 : (high * 9 / 5) + 42),
            grid: { display: false },
            ticks: { stepSize: degree === 'celsius' ? 5 : 10 },
          }
        },
        pointStyle: false
      }
    });
  </script>
<script>
  // Check if the last visit time is stored
  const lastVisit = localStorage.getItem('lastVisitTime');
  if (!lastVisit) {
    localStorage.setItem('lastVisitTime', new Date().getTime());
    // console.log("setting last visit: " + lastVisit);
  }
  
  document.addEventListener("visibilitychange", function() {
    if (!document.hidden) {
      const currentTime = new Date().getTime();
      const timeSince = (currentTime - lastVisit)/1000;
      // console.log("last visit: " + timeSince + " seconds ago");
      if (timeSince > 120) {
        localStorage.setItem('lastVisitTime', new Date().getTime());
        location.reload();
      }
    }
  });
</script>
</body>

</html>