.nav-bar {
    position: fixed;
    top: 4px;
    right: 4px;
    left: 4px;
    background: linear-gradient(-90deg, #84cf6a, #16c0b0);
    height: 40px;
    z-index: 10;
}
.nav-bar li {
    font-size: 20px;
    display:  inline-block;
    zoom: auto;
    margin-top: 5px;
    margin-right: 20px;   
    padding: 3px;
}
.banner{
      color: blanchedalmond;
}
.item {
      color: rgb(35, 54, 3);
      border: 1px solid blanchedalmond;
}
.item:hover {
      border: 1px solid red;
      cursor: pointer;
}
.item-right {
      float: right;
      color: rgb(35, 54, 3);
      border: 1px solid blanchedalmond;
}
.item-right:hover {
      border: 1px solid red;
      cursor: pointer;
}
.part {
      margin: 4px;
      padding: 4x;
      border: 2px solid #d8d8d8;
      display: flex;
      align-items: center;
}
.part:hover {
      background-color: rgb(241, 247, 240); 
}
.order {
      margin: 4px;
      border: 2px solid #d8d8d8;
      display: flex;
      align-items: center;
}
.order:hover {
      background-color: rgb(241, 247, 240);
}
.info {
      display: flex;
      width: 200px;
      margin: 10px;
}
.cart {
    float: right;
    border: 2px solid #d8d8d8;
    padding: 10px 30px;
    background-color: rgb(238, 180, 180);
}
.cartempty {
    float: right;
    border: 1px solid #d8d8d8;
    padding: 10px 30px;
    background-color: white;
}
.content {
      position: relative;
      top: 50px;
}
img {   
    width: 120px;
}
.gridform {
      display: grid;
      grid-template-columns: 100px 150px;
}
.gridlabel {
      text-align: right;
      padding-right: 5px;
}
.checkoutbutton {
      text-align: right;
      padding-left: 100px;
}
.bracketgrid {
      display: grid;
      grid-template-columns: 40px 140px 150px 100px;
      margin: 1px 20px;
}
.bracketgrid:hover {
      background-color: lightgreen;
}
.weight {
      display: flex;
      text-align: left;
}
.prize {
      width: 70px;
      text-align: right;
}
.filtergrid{
      margin-top: 10px;
      margin-left:50px;
      display: grid;
      grid-template-columns: 80px 140px 25px 140px;
      grid-auto-rows: 25px;
}
.orderlist {
      display: grid;
      grid-template-columns: 100px 100px 80px 80px;
      margin: 4px 20px;
      align-items: center;
}
.orderlist:hover {
      background-color: lightgreen;
}

.modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: table;
      transition: opacity 0.3s ease;
    }
    
    .modal-wrapper {
      display: table-cell;
      vertical-align: middle;
    }
    
    .modal-container {
      width: 300px;
      margin: 0px auto;
      padding: 20px 30px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
      transition: all 0.3s ease;
      font-family: Helvetica, Arial, sans-serif;
    }
    
    .modal-header h3 {
      margin-top: 0;
      color: #42b983;
    }
    
    .modal-body {
      margin: 20px 0;
    }
    
    .modal-default-button {
      float: right;
    }
    
    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */
    
    .modal-enter {
      opacity: 0;
    }
    
    .modal-leave-active {
      opacity: 0;
    }
    
    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    