[Unit]
Description=Refrigerator Temperature
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/WineStorage/REST
ExecStart=/home/pi/WineStorage/REST/run
StandardOutput=file:/home/pi/WineStorage/REST/logFile
StandardError=file:/home/pi/WineStorage/REST/logFile
Restart=always

[Install]
WantedBy=multi-user.target