[Unit]
Description=Refrigerator Temperature

[Service]
Type=simple
User=ege
WorkingDirectory=/var/www/html/WineStorage/REST
ExecStart=/var/www/html/WineStorage/REST/run
Restart=always

[Install]
WantedBy=network-online.target
